<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Data Science solutions "with batteries" to increase your
                    business value. <br>Schedule a free chat on <a href="https://calendly.com/dgerstel/data-science-consulting-free-chat"> Google Meet</a></h3>
<!--                     <div class="row text-center">-->
<!--            <div class="col-md-4">-->
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-python fa-stack-1x fa-inverse"></i>-->
<!--&lt;!&ndash;                        laptop-mobile, brain-circuit, gears, laptop-code, chart-area, chart-pie, chart-line <i class="fab fa-python"></i> &ndash;&gt;-->
<!--                    </span>-->
<!--                <h4 class="service-heading">Data Science/Machine Learning</h4>-->
<!--                <p class="text-muted">From databases to insights. With machine-learning or traditional statistical-->
<!--                    analysis. Classification, Regression, Clustering.</p>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
<!--                <h4 class="service-heading">Python Web App</h4>-->
<!--                <p class="text-muted">Interactive Web App in Django to let you update a machine-learning model once you-->
<!--                    obtain new data.</p>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
<!--                <h4 class="service-heading">Artificial Intelligence</h4>-->
<!--                <p class="text-muted">Neural Networks for Computer Vision with TensorFlow/Keras</p>-->
<!--            </div>-->
<!--        </div>-->

                <h3 class="section-subheading text-muted">We help small and medium enterprises manage their data challenges. From databases to analytics, from local programs to full-fledged Web Apps on Cloud.</h3>
        <div>
            <img src="img/diagrams/skills2.png" alt="Skills" class="center-block">
        </div>
                </div>
                <br><br><br><br>
            <div>
            <h4 class="service-heading"> Does any of these sound familiar?</h4>
                <ul>
                    <li>I don't know <i>how to organize my data</i>, which databases to choose</li>
                    <li>I spend too much time <i>manually</i> organizing the data (an <i>automation</i> would be useful)</li>
                    <li>I'd like to <i>infer</i> the most of the data...probably I need some <i>machine learning</i> / AI model</li>
                    <li>I'd like to have a <i>Web App</i> powered by AI/machine learning</li>
                </ul>
            ...if so, chances are we can help ;-)
                </div>
             <br>
            <div class="col-lg-12 text-center">
             <h2 class="section-heading">How do we work?</h2>

            First, in a free chat , we ask you many questions to understand your current situation (problem) and where you would like to be (solution).
            This allows us to come up with a proposal to pave the way to accomplish your objectives the most efficiently.
            <br><br>
            <img src="img/diagrams/problem-solution.png" alt="Objective" class="center-block">
            <br><br>
            Then, we proceed with the execution. Once the first goal is defined, we come up with a prototype (usually a few day progress) and ask you for feedback.
            This allows to re-adjust the definition and repeat the prototype-feedback loop.
            Finally, you receive the product "with batteries", so you can use it autonomously.
            <br><br>
            <img src="img/diagrams/flow2.png" alt="Timeline" class="center-block">
            <br>
        </div>
    </div>
    <br>

</section>